In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [3]:
# q1
print (df.head())

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small       12.9   15.9       18.8      25.0
1          NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi       90  Compact       25.9   29.1       32.3      20.0
3         Audi      100  Midsize        NaN   37.7       44.6      19.0
4          BMW     535i  Midsize        NaN   30.0        NaN      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                 NaN      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

In [4]:
# q2
print(df.isnull().sum())

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [9]:
# q3
df_dropna = df.dropna()
df_dropna.shape

(8, 27)

In [10]:
#imputation
from sklearn.impute import SimpleImputer

# Impute the missing values with mean
imputer = SimpleImputer(strategy='mean')
df_mean_imputed = pd.DataFrame(imputer.fit_transform(df.select_dtypes(include=['float64', 'int64'])), columns=df.select_dtypes(include=['float64', 'int64']).columns)

# Impute the missing values with median
imputer = SimpleImputer(strategy='median')
df_median_imputed = pd.DataFrame(imputer.fit_transform(df.select_dtypes(include=['float64', 'int64'])), columns=df.select_dtypes(include=['float64', 'int64']).columns)

In [11]:
print(df_mean_imputed)

    Min.Price  Price  Max.Price  MPG.city  MPG.highway  EngineSize  \
0   12.900000   15.9  18.800000      25.0         31.0    1.800000
1   29.200000   33.9  38.700000      18.0         25.0    3.200000
2   25.900000   29.1  32.300000      20.0         26.0    2.800000
3   17.118605   37.7  44.600000      19.0         26.0    2.658242
4   17.118605   30.0  21.459091      22.0         30.0    3.500000
..        ...    ...        ...       ...          ...         ...
88  16.600000   19.7  22.700000      17.0         21.0    2.500000
89  17.600000   20.0  22.400000      21.0         30.0    2.000000
90  22.900000   23.3  23.700000      18.0         25.0    2.800000
91  21.800000   22.7  23.500000      21.0         28.0    2.300000
92  24.800000   26.7  28.500000      20.0         28.0    2.400000

    Horsepower     RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  Length  \
0        140.0  6300.0        2890.0                13.2         5.0   177.0
1        200.0  5500.0        2335.0                18.0         5.0   195.0
2        172.0  5500.0        2280.0                16.9         5.0   180.0
3        172.0  5500.0        2535.0                21.1         6.0   193.0
4        208.0  5700.0        2545.0                21.1         4.0   186.0
..         ...     ...           ...                 ...         ...     ...
88       109.0  4500.0        2915.0                21.1         7.0   187.0
89       134.0  5800.0        2685.0                18.5         5.0   180.0
90       178.0  5800.0        2385.0                18.5         4.0   159.0
91       114.0  5400.0        2215.0                15.8         5.0   190.0
92       168.0  6200.0        2355.0                19.3         5.0   184.0

    Wheelbase      Width  Turn.circle  Rear.seat.room  Luggage.room  Weight
0       102.0  68.000000         37.0            26.5     13.986486  2705.0
1       115.0  71.000000         38.0            30.0     15.000000  3560.0
2       102.0  67.000000         37.0            28.0     14.000000  3375.0
3       106.0  69.448276         37.0            31.0     17.000000  3405.0
4       109.0  69.000000         39.0            27.0     13.000000  3640.0
..        ...        ...          ...             ...           ...     ...
88      115.0  72.000000         38.0            34.0     13.986486  3960.0
89      103.0  67.000000         35.0            31.5     14.000000  2985.0
90       97.0  66.000000         36.0            26.0     15.000000  2810.0
91      104.0  67.000000         37.0            29.5     14.000000  2985.0
92      105.0  69.000000         38.0            30.0     15.000000  3245.0

[93 rows x 18 columns]

In [12]:
print(df_median_imputed)

    Min.Price  Price  Max.Price  MPG.city  MPG.highway  EngineSize  \
0        12.9   15.9      18.80      25.0         31.0         1.8
1        29.2   33.9      38.70      18.0         25.0         3.2
2        25.9   29.1      32.30      20.0         26.0         2.8
3        14.6   37.7      44.60      19.0         26.0         2.3
4        14.6   30.0      19.15      22.0         30.0         3.5
..        ...    ...        ...       ...          ...         ...
88       16.6   19.7      22.70      17.0         21.0         2.5
89       17.6   20.0      22.40      21.0         30.0         2.0
90       22.9   23.3      23.70      18.0         25.0         2.8
91       21.8   22.7      23.50      21.0         28.0         2.3
92       24.8   26.7      28.50      20.0         28.0         2.4

    Horsepower     RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  Length  \
0        140.0  6300.0        2890.0                13.2         5.0   177.0
1        200.0  5500.0        2335.0                18.0         5.0   195.0
2        172.0  5500.0        2280.0                16.9         5.0   180.0
3        172.0  5500.0        2535.0                21.1         6.0   193.0
4        208.0  5700.0        2545.0                21.1         4.0   186.0
..         ...     ...           ...                 ...         ...     ...
88       109.0  4500.0        2915.0                21.1         7.0   187.0
89       134.0  5800.0        2685.0                18.5         5.0   180.0
90       178.0  5800.0        2385.0                18.5         4.0   159.0
91       114.0  5400.0        2215.0                15.8         5.0   190.0
92       168.0  6200.0        2360.0                19.3         5.0   184.0

    Wheelbase  Width  Turn.circle  Rear.seat.room  Luggage.room  Weight
0       102.0   68.0         37.0            26.5          14.0  2705.0
1       115.0   71.0         38.0            30.0          15.0  3560.0
2       102.0   67.0         37.0            28.0          14.0  3375.0
3       106.0   69.0         37.0            31.0          17.0  3405.0
4       109.0   69.0         39.0            27.0          13.0  3640.0
..        ...    ...          ...             ...           ...     ...
88      115.0   72.0         38.0            34.0          14.0  3960.0
89      103.0   67.0         35.0            31.5          14.0  2985.0
90       97.0   66.0         36.0            26.0          15.0  2810.0
91      104.0   67.0         37.0            29.5          14.0  2985.0
92      105.0   69.0         38.0            30.0          15.0  3245.0

[93 rows x 18 columns]

In [15]:
# Find the manufacturer, model and type with the highest Price
most_expensive_car = df[df['Price'] == df['Price'].max()][['Manufacturer', 'Model', 'Type', 'Price']]

print(most_expensive_car)

     Manufacturer Model     Type  Price
58  Mercedes-Benz  300E  Midsize   61.9

In [19]:
#Boston

url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url)

# Select the 'CRIM' and 'MEDV' columns
df = df[['crim', 'medv']]

# Print the number of rows and columns
print(f'Number of rows: {df.shape[0]}')
print(f'Number of columns: {df.shape[1]}')

# Print the data types of the columns
print(df.dtypes)

# Print the summary statistics of each column
print(df.describe())

Number of rows: 506
Number of columns: 2
crim    float64
medv    float64
dtype: object
             crim        medv
count  506.000000  506.000000
mean     3.613524   22.532806
std      8.601545    9.197104
min      0.006320    5.000000
25%      0.082045   17.025000
50%      0.256510   21.200000
75%      3.677083   25.000000
max     88.976200   50.000000

In [22]:
#q6

df4 = pd.DataFrame({
    'A': ['a', 'b', 'a', 'd'], 
    'B': ['b', 'a', 'c', 'e']
})

one_hot = pd.get_dummies(df4['A'])

df5 = df4.join(one_hot)

print(df5)

   A  B      a      b      d
0  a  b   True  False  False
1  b  a  False   True  False
2  a  c   True  False  False
3  d  e  False  False   True